.title#maintitle {
    margin: 3vh;
}

canvas#game {
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

pre#log {
    border: 1px solid black;
    overflow-y: scroll;
    height: 30vh;
}

.expand {
    display: grid;
}